.container-btn {
    text-align: center;
}

.btn {
    color:black;
    background: #fff;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 8px 20px;
    border: none;
}