.chatbot-avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #3d8d55;
    margin-right: 15px;
    color: white;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
  }