/* .containeWhislist{
    display:flex;
    margin: 10px;
    padding: 5px;
} */
.containeWhislist {
    min-height: 70vh;
    flex-direction: column;
    grid-template-columns:  0.6fr 1.2fr;
    padding:20px;
    gap: 0.5rem;
    margin: 0;
}

.prodsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    justify-items: center;
    align-items: flex-start;
    row-gap: 30px;
    margin: 20px 0 0px 0
}

.noFavsCont {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 964px) {
    .prodsParent {
        grid-template-columns:  1fr;
        gap: 2rem;
    }
}