/* background-color: var(--verdePrincipal); */
/* background-color: var(--verdeClaro); */
.containner{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.detail{
    display: flex;
    /* background-color: aqua; */
    width: 90%;
}

.containerImage{
    display: flex;
    width: 50%;
    height:auto;
    justify-content: center;
    /* background-color: bisque; */
}
.containerImage .divImage{
    display: flex;
    background-color: var(--verdeClaro);
    border-radius: 5px;    
    box-shadow: 0px 0px 10px 10px grey;
    margin: 30px;
    padding: 40px;    
    width: 50%;
    height:max-content;
}

.divImage img{
    display: flex;
    border-radius: 5px;
    height: auto;
    width: 100%;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}
.divImage img:hover{
    --escala: 1.2;
    cursor:pointer;
}

.containerDetail{
    /* display:block; */
    height: auto;
    margin: 1px;
    padding: 20px;
    width: 50%;
    /* background-color: red; */
    /* border: 1px solid var(--verdeClaro); */
}

.divname {
    display: flex;
    padding: 5px;
    /* background-color: orange; */
    /* justify-content: center; */
}
.divname p{
    display: contents;
    font-size: 26px;
    font-weight: bold;
}
.divcategoria {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    /* background-color: yellow; */
    /* justify-content: center; */
}
.divcategoria p {
    display: contents;
    color: gray;
    font-size: 15px;
    font-weight: bold;
}
.divprice {
    display: flex;
    padding: 5px;
    gap: 10px;
    /* background-color: blue; */
}
.divprice p {
    display: contents;
    color: rgb(126, 30, 30);
    font-size: 33px;
    font-weight: bold;
}
.divStock {
    display: flex;
    padding: 5px;
    /* background-color: green; */
}
.divStock p {
    display: contents;
    color: rgb(126, 30, 30);
    font-size: 20px;
    font-family: 15px;
    font-weight: bold;
    /* background-color: rgb(25, 100, 31); */
}

.divdescription {
    display: block ;
    /* position:relative; */
    /* flex-wrap: wrap; */
    padding: 5px;
    /* background-color: aqua; */
}
.descriptiontitle{
    display: contents ;
    /* background-color: rgb(40, 85, 85); */
}
.descriptionContent{
    display: contents ;
    /* background-color: rgb(29, 31, 90); */
}
/* .titles2{   
    display: contents;
    font-weight: bold;
} */

.addBuy{
    border: 1px solid var(--verdeClaro);
    height: auto;
    margin-top: 15px;
    background-color:  rgb(254, 254, 254);
    padding: 15px;
}

.continerInputAmount{
    display:flex;
    /* grid-template-columns: repeat(3,1fr); */
    padding: 5px;
    justify-content: center;
    /* background-color: blue; */
    margin: 0px 20px 0px 20px;
    gap: 10px;
}
.continerInputAmount .inputQuantity{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    /* height: auto; */
    font-size: 13x;
    border: 1px solid var(--verdeClaro);
}
.continerInputAmount label{
    /* display: inline-block; */
    color: gray;
    font-size: 12px;
}

/* padre */
.continerbuttonBuy{
    display: flex;
    padding: 5px;
    justify-content: center;
    /* background-color: green;     */
    margin: 0px 20px 0px 20px;
}
.continerbuttonBuy button{
    padding: 5px;
    border-radius: 10px;
    width: 80%;
    font-size: 13x;
}
.continerbuttonBuy button:hover{
    border: 1px solid var(--verdePrincipal);
    cursor: pointer;
    color:black;
    background-color: var(--verdeClaro);    
}
/* hijo */
.buttonBuy{
    background-color: var(--verdePrincipal);
    border: none;
    width: 80%;  
    color: white;  
}
.continerbutton2{
    display: flex;
    padding: 5px;
    gap: 20px;
    justify-content:center;
    /* background-color: blueviolet; */
    margin: 0px 20px 0px 20px;
}
.continerbutton2 button{
    padding: 5px;
    border-radius: 20px;
    width: 150px;
    font-size: 13x;   
}
.continerbutton2 button:hover {
    cursor: pointer;
    color:white;
    background-color: var(--verdePrincipal);
}
.button2{
    border: 1px solid var(--verdePrincipal);
    background-color: white;
    color: black;
}