@import url("https://fonts.cdnfonts.com/css/bricolage-grotesque");

:root {
  --verdePrincipal: #8cb799;
  --verdeClaro: #d0e1d6;
  --lighterGreen: #f3f7f4;
  --superLightGreen: #e6efe9;
  --fontGlobal: "Bricolage Grotesque", sans-serif;
}

#root {
  min-height: 100vh;
  display: grid;
  background-color: #ffff;
  align-items: center;
  grid-template-rows: auto 1fr auto;
}

* {
  font-family: var(--fontGlobal);
  margin: 0;
  padding: 0;
}
