@import url('https://fonts.cdnfonts.com/css/bricolage-grotesque');

:root {
  --verdePrincipal : #8CB799;
  --verdeClaro     : #D0E1D6;
  --fontGlobal     : 'Bricolage Grotesque', sans-serif;;
}

* {
  font-family: var(--fontGlobal);
}