@import url('https://fonts.cdnfonts.com/css/bricolage-grotesque');

:root {
  --verdePrincipal      : #8CB799;
  --verdeClaro          : #D0E1D6;
  --fontGlobal          : 'Bricolage Grotesque', sans-serif;
  --default-body-height : 100vh;
}

* {
  font-family: var(--fontGlobal);
  margin: 0;
  padding: 0;
}
