.AnalyticSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.AnalyticSection::-webkit-scrollbar {
  width: 7px;
}

.AnalyticSection::-webkit-scrollbar-thumb {
  background-color: var(--verdePrincipal);
  border-radius: 10px;
}

.containerGraph {
  min-height: 380px;
  overflow: auto hidden;
}

@media (min-width: 1300px) {
  .AnalyticSection {
    grid-template-columns: 1fr 1fr;
  }
}