.Dashboard {
    /* padding: 0.5rem 3.5rem; */
    color: #242d49;
    background: linear-gradient(
      106.37deg,
      #F3F7F4 29.63%,
      #D0E1D6 51.55%,
      #8CB799 90.85%
    );
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontGlobal);
  }
  
  .DashboardGlass {
    display: grid;
    height: 97%;
    width: 97%;
    background:  rgba(255, 255, 255, 0.54);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 11rem auto;
    overflow: hidden;
  }


  @media screen and (max-width: 1200px) {
    .DashboardGlass{
      grid-template-columns: 10% auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .DashboardGlass{
      grid-template-columns: 1fr;
    } 
  }