.parent {
    display: grid;
    grid-template-columns: 0.20fr 0.50fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    justify-content: center;
}
    
.menuProfile { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: var(--verdeClaro);
    border-radius: 5px;
    width: 80%;
    padding: 5%;
    margin: 3% 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.menuProfile > img {
    margin-bottom: 10px;
    min-width: 100%;
    border: 4px solid var(--verdePrincipal);
    border-radius: 5px;
}

.menuProfile > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: var(--verdePrincipal);
}

.menuProfile > div:hover {
    background-color: var(--verdePrincipal);
    cursor: pointer;
    color: white;
}

.detailProfile { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: var(--verdeClaro);
    border-radius: 5px;
    padding: 5%;
    margin: 1.5% 0;
}