.container {
    width: 100%;
    display:flex;
    margin: 1.2rem 0;
    justify-content: center;
}

.paginate {
    width: 90%;
    max-width: 600px;
    display: flex;
    border-radius: 0.5rem;
    margin: 0.2rem;
    background-color: var(--verdePrincipal);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.pageNum {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 60%;
    max-width: 450px;
    font-size: 1rem;
    gap: 1rem;
    background-color: var(--verdeClaro);
    overflow: hidden;

}

.pageNum h5 {
    color: black;
    font-size: 1.2rem;
} 

.pageNum h5:hover {
    cursor: pointer;   
    color:gray;   
    text-decoration-line: underline;    
}

.pageNum h2 {
    color: gray;
    font-size: 1.7rem;
    height: 36px;
} 

.prev, .next {
    width: 15%;
   max-width: 200px;
   padding: 0 1rem;
}

.next {
    display: flex;
    border-left: 10px solid white;
    height: 40px;
    font-size: 10;
    justify-content: center;
    align-items: center;
}

.prev {
    display: flex;
    border-right: 10px solid white;
    height: 40px;
    justify-content: center;
    align-items:  center;
}

.buttons {
    outline: none;
    color: white;
    border: 0;
    width: 100%;
    height: 80%;
    background: none;
    border-radius: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.buttons:hover {
    filter: opacity(.5);
    cursor: pointer;
}