.landingPage {
    width: 100vw;
    height: 100vh;
    background: url('../../assets/landingPage1.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 100vw;
    height: 100vh;
    background: url('../../assets/landing_img.png') no-repeat center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alinear el contenido en la parte inferior */
}
  .header {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    width: 50vw;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;
  }
  
  .btnPrimary {
    background-color: #8CB799;
    color: #fff;
  }
  
  .btnPrimary:hover {
    background-color: #D0E1D6;
  }

  @media (max-width: 800px) {
    .header {
      font-size: 5vw; /* Tamaño de fuente de 8vw en pantallas pequeñas */
      width: 80vw; /* Ajuste del ancho para ocupar más espacio en pantallas pequeñas */
    }
  
    .btn {
      font-size: 5vw; /* Tamaño de fuente de 8vw en pantallas pequeñas */
    }
  }