.reviewsContainer {
    margin-top: 20px;
  }
  
  .reviewsContainerH2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reviewsContainerA {
    color: var(--verdePrincipal);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .reviewItem {
    margin-bottom: 20px;
  }

  .linkReviews {
    text-decoration: none;
    color: var(--verdePrincipal);
  }
  
  .deleteButton {
    color: var(--verdePrincipal);
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .deleteButton:hover {
    text-decoration: underline;
  }
  
  .starIcons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .starIcons span {
    cursor: pointer;
  }
  
  .starIcons svg {
    width: 16px;
    height: 16px;
    fill: var(--verdePrincipal);
    margin-right: 4px;
  }
  
  .reviewForm {
    margin-top: 20px;
  }
  
  .reviewForm h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .reviewForm .successMessage {
    color: var(--verdePrincipal);
    margin-bottom: 10px;
  }
  
  .reviewForm .errorMessage {
    color: red;
    margin-bottom: 10px;
  }
  
  .reviewFormTextarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--verdePrincipal);
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .reviewFormButton {
    background-color: var(--verdePrincipal);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reviewForm button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .buttonDelete{
    border: 1px solid var(--verdePrincipal);
    background-color: white;
    color: black;
}

.starIconsSvgFilled {
  fill: var(--verdePrincipal);
}

.starIconsSvgHalf {
  fill: var(--verdePrincipal);
}

.starIconsSvgEmpty {
  fill: var(--verdePrincipal);
}
