.reviews-container {
    margin-top: 20px;
  }
  
  .reviews-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reviews-container a {
    color: var(--verdePrincipal);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .review-item {
    margin-bottom: 20px;
  }
  
  .review-item .delete-button {
    color: var(--verdePrincipal);
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .review-item .delete-button:hover {
    text-decoration: underline;
  }
  
  .star-icons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .star-icons span {
    cursor: pointer;
  }
  
  .star-icons svg {
    width: 16px;
    height: 16px;
    fill: var(--verdePrincipal);
    margin-right: 4px;
  }
  
  .review-form {
    margin-top: 20px;
  }
  
  .review-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .review-form .success-message {
    color: var(--verdePrincipal);
    margin-bottom: 10px;
  }
  
  .review-form .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--verdePrincipal);
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .review-form button {
    background-color: var(--verdePrincipal);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .review-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .buttonDelete{
    border: 1px solid var(--verdePrincipal);
    background-color: white;
    color: black;
}