.CompactCard {
    display: flex;
    flex: 1;
    height: 10rem !important;
    border-radius: 0.7rem;
    color: #242d49;
    padding: 2rem;
    position: relative;
    cursor: pointer;
  }
  .CompactCard:hover {
    box-shadow: none !important;
  }

/* radial bar */
.radialBar {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    
  }
  .CircularProgressbar {
    width: 6rem !important;
    overflow: visible;
  }
  .CircularProgressbar-path {
    stroke: white !important;
    stroke-width: 10px !important;
    filter: drop-shadow(1px 2px 3px white);
    
  }
  .CircularProgressbar-trail {
    display: none;
  }
  .CircularProgressbar text {
    fill: #242d49 !important;
  }
 
.radialBar > span {
    font-size: 25px;
    font-weight: bold;
    margin-left: 2%;
  }

/* sideDetail*/
.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .detail > span:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
  }
  .detail > span:nth-child(3) {
    font-size: 20px;
  }

  /* ExpandedCard */
.ExpandedCard {
    position:absolute;
    width: 70%;
    height: 70vh;
    z-index: 9;
    left: 13rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }
  .ExpandedCard > span:nth-of-type(1) {
    color: #242d49;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 0px 0px 15px white;
  }
  .ExpandedCard > span:nth-of-type(2) {
    color: rgb(236, 236, 236);
    font-size: 15px;
  }
  
  .chartContainer {
    width: 70%;
  }

  .Cards {
    display: flex;
    gap: 10px;
  }
  .parentContainer{
    width: 100%;
  }
  
  @media screen and (max-width: 1200px) { 
    .Cards{
      flex-direction: column;
    }
    .parentContainer{
      height: 9rem;
    }
    .ExpandedCard {
      top: 2rem;
      height: 45vh;
      left: 6rem;
    }
  }
  
  @media screen and (max-width: 768px) {
     .Cards{
      width: 90%;
    }
    .ExpandedCard {
      top: 8rem;
      height: 50%;
      left: 25px;
      width: 80%;
    }
  }
