:root {
  --verdePrincipal: #8CB799;
  --verdeClaro: #D0E1D6;
  --fontGlobal: Arial, Helvetica, sans-serif;
}

.login {
  max-width: 400px;
  max-height: 1000px;
  width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.formLabel {
  font-family: 'Kanit', sans-serif;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--verdePrincipal);
}

.greenText {
  color: var(--verdePrincipal);
}

.backButton {
  text-align: left;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 20px;
}

.navLink {
  text-decoration: none;
  color: var(--verdePrincipal);
}

.centeredText {
  text-align: center;
  margin-bottom: 20px;
}


.enterEmail {
  width: 95%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 10px;
  color: black;
}

.errorText {
  color: red;
  font-size: 14px;
  padding: 2px; /* Add some padding around the error message */
  border-radius: 4px; 
  max-width: 200px;
  align-items: center;
  margin-bottom: 100px;

}


.rectangle {
  width: 100%;
  height: auto;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 10px;
}

.passwordInput {
  display: flex;
  align-items: center;
}

.enterPassword {
  width: 100%;
  padding: 10px;
  border: none;
}



.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.checkIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.rememberMe {
  margin-left: 5px;
}

.forgotPassword {
  text-align: right;
  margin-bottom: 5px;
}

.loginButton {
    background-color: var(--verdePrincipal);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
    width: 100%;
}

.greenButton {
  background-color: var(--verdePrincipal);
  color: rgb(0, 0, 0);
}

.loginText {
  font-weight: bold;
}

.signUp {
  text-align: right;
}

.dontHaveAccount {
  margin-top: 8px;
  margin-bottom: 10px;
}

.signUpLink {
  color: black;
  text-decoration: none;

}

.thirdParty{
 margin-top: 20px;
 margin-bottom: 20px;

 max-width: 400px;
 
}
.loginButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/*
.password-assets {
  width: 78px;
  height: 8px;
  flex-shrink: 0;
  background: url(../../assets/passwordUser.jpg), lightgray 50% / cover no-repeat;
}
  

  .eye-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background: url(../../assets/eyeUser.jpg), lightgray 50% / cover no-repeat;
}
  
  .check-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background: url(../../assets/checkUser.jpg), lightgray 50% / cover no-repeat;
}

.facebook-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background: url(../../assets/facebookUser.png), lightgray 50% / cover no-repeat;
}
  

  .google-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background: url(../../assets/googleUser.png), lightgray 50% / cover no-repeat;
}
  

  .apple-icon {
  width: 29px;
  height: 28px;
  flex-shrink: 0;
  background: url(../../assets/appleUser.png), lightgray 50% / cover no-repeat;
}*/
  