.navCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: max-content;
    padding: 0 1% 0 1%;
    font-family: var(--fontGlobal);
    align-self: flex-start;
    position: relative;
}

.navLinkCont {
    display: flex;
    flex-direction: row;
}

.navContFix {
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--verdePrincipal);
    z-index: 1;
}

.navCont img {
    width: 20%;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: var(--verdePrincipal);
    width: 60px;
    display: flex;
    justify-content: center;
}

.navLink:hover {
    color: #CDE0D2;
}

.navLinkFix {
    color: white;
}

.navLinkFix:hover {
    color: #CDE0D2;
}

.active {
    color: white;
    background-color: var(--verdePrincipal);
    border-radius: 0 80px;
    transition: all 1s;
}

.activeFix {
    color: var(--verdePrincipal);
    background-color: white;
    border-radius: 0 80px;
    transition: all 1s;
}

.buttonCont {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.buttonCont button {
    padding: 10px;
    border-radius: 20px;
    width: 90px;
    font-size: 15px;
}

.buttonCont button:hover {
    cursor: pointer;
}

.buttonLog {
    border: 0;
    outline: 0;
    padding: 10px;
    background-color: var(--verdePrincipal);
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    max-width: 91px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.buttonLogFix {
    padding: 10px;
    background-color: var(--verdePrincipal);
    color: white;
    border-radius: 30px;
    text-decoration: none;
    width: 80px;
    text-align: center;
    align-items: center;
    border: 2px  solid white;
}

.buttonCart {
    color: var(--verdePrincipal);
    padding: 5px;
    border: 2px  solid var(--verdePrincipal);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: centers;
}

.buttonCartFix {
    color: white;
    padding: 5px;
    border: 2px  solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: centers;
}

.buttonCart:hover{
    cursor: pointer;
}

.buttonSign {
    border-color: var(--verdePrincipal);
    border-radius: 30px;
    align-items: center;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    background-color: white;
    color: var(--verdePrincipal);
    text-decoration: none;
    width: 80px;
    cursor: pointer;
}

.navLinkRespon{
    z-index: 10;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.profileImg {
    color: var(--verdePrincipal);
    width: min-content;
    max-width: 4vw;
    border-radius: 50%;
    border: 4px solid var(--verdePrincipal);
}

.profileImg:hover{
    cursor: pointer;
}

.profileOptOpen {
    display: flex;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

.profileOptOpen a {
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: var(--verdePrincipal);
    border-radius: 20px;
}

.profileOptOpen a:hover {
    color: var(--verdePrincipal);
    background-color: var(--verdeClaro);
}

.profileOptClose {
    display: none;
}

.profileIcons {
    flex-direction: row;
    position: static;
    font-size: 30px;
    display: none;
}

.containerLog {
    width: 100%;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.buttonLogout {
    border-color: var(--verdePrincipal);
    border-radius: 30px;
    align-items: center;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    background-color: white;
    color: var(--verdePrincipal);
}

@media (max-width: 960px) {
    .navCont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: max-content;
        padding-right: 1.2rem;
        font-family: var(--fontGlobal);
    }

    .navCont img {
        width: 30%;
        min-width: 150px;
        min-height: 45px;
        max-height: 60px;
    }
    
    .buttonCont {
        margin-right: 1.5rem;
    }

    .buttonCont .buttonLog, .buttonCont .buttonSign {
        display: none;
    }
    .buttonCont button {
        display: none;
    }
    
    .buttonLogFix {
        display: none;
    }

    .profileImg {
        display: none;
    }

    .profileIcons {
        display: flex;
    }

    .containerLog {
        display: flex;
    }

    .navLinkCont {
        display: none;
    }
    
    .navLinkRespon{
        display: flex;
        flex-direction: column;
        background-color: var(--verdePrincipal);
        position: absolute;
        top: 0;
        right: 0;
        width: max-content;
        padding: 2rem;
        gap: 0.5rem;
        height: 50vh;
        justify-content: space-evenly;
    }

    .navLink{
        text-decoration: none;
        font-size: 20px;
        padding: 0;
        color: var(--verdeClaro);
        width: 100%;
        display: flex;
        justify-content: center;
        height: 25%;
        align-items: center;
    }
    .active {
        color: var(--verdePrincipal);
        background-color: white;
        border-radius: 0 80px;
        transition: all 1s;
    }

    .activeFix {
        color: var(--verdePrincipal);
        background-color: white;
        border-radius: 0 80px;
        transition: all 1s;
    }
    .burguerMenu {
        display: flex !important;
    }
    
    
}

@media (min-width:961px) and (max-width: 1800px) {
    .navCont {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: max-content;
        padding: 1% 1% 1% 1%;
        font-family: var(--fontGlobal);
    }
}

.burguerMenu {
    display: none;
    height: 1.5em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
    background-color: var(--verdePrincipal);
    padding: 0.3rem;
    position: absolute;
    right: 0;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.burguerItem {
    width: 1.5em;
    height: 18%;
    background-color: white;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.burguerItem.clicked:nth-child(1) {
    transform: rotate(47deg) translate(0.5em, 0.5em);
    transition: ease-out 0.5s;
    -webkit-transform: rotate(47deg) translate(0.5em, 0.5em);
    -moz-transform: rotate(47deg) translate(0.5em, 0.5em);
    -ms-transform: rotate(47deg) translate(0.5em, 0.5em);
    -o-transform: rotate(47deg) translate(0.5em, 0.5em);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}

.burguerItem.clicked:nth-child(2) {
    opacity: 0;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}

.burguerItem.clicked:nth-child(3) {
    transform: rotate(128deg) translate(-0.4em, 0.4em);
    transition: ease-out 0.5s;
    -webkit-transform: rotate(128deg) translate(-0.4em, 0.4em);
    -moz-transform: rotate(128deg) translate(-0.4em, 0.4em);
    -ms-transform: rotate(128deg) translate(-0.4em, 0.4em);
    -o-transform: rotate(128deg) translate(-0.4em, 0.4em);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}

.burguerItem.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -webkit-transform: rotate(0) translate(0);
    -moz-transform: rotate(0) translate(0);
    -ms-transform: rotate(0) translate(0);
    -o-transform: rotate(0) translate(0);
    -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -ms-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}