.prodsParent {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr;
    padding:20px;
    gap: 0.5rem;
}

.prodsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    justify-items: center;
    align-items: flex-start;
    row-gap: 30px;
    margin: 20px 0 0px 0
}

.prodsContLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 964px) {
    .prodsParent {
        grid-template-columns:  1fr;
        gap: 2rem;
    }
}

